﻿
@{
    Layout = null;
}

@model IEnumerable<XPOS.ViewModell.VariantViewModel>

<option value="">Select Variant</option>

@foreach (var item in Model)
{
    <option value="@item.Id">@item.Name</option>
}