﻿@model XPOS.ViewModell.CategoryViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VariantViewModel</h4>
    <hr />

    @using (Html.BeginForm("Delete", "Category", FormMethod.Post,
        new { id = "form-delete", name = "form-delete" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>CategoryViewModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Initial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Initial)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Active)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Active)
                </dd>

            </dl>

            <div class="form-group">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

    <script type="text/javascript">
        $("#form-delete").submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        alert("Delete successful! Nama: " + result.entity.Name);
                        $(".modal").modal("hide");
                        GetList();
                    } else {
                        alert("error! " + result.message);
                    }
                }
            });
            return false;
        });
    </script>
