﻿@model XPOS.DataModel.Brand
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Brand", FormMethod.Post))
{
<div class="form-group row">
    <label for="Inisial" class="col-sm-2 col-form-label">CategoryId</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="CategoryId" name="CategoryId">
    </div>
</div>
    <div class="form-group row">
        <label for="Inisial" class="col-sm-2 col-form-label">Initial</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Initial" name="Initial">
        </div>
    </div>
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Name" name="Name">
        </div>
    </div>
    <div class="form-group row">
        <b><div class="col-sm-2">Active</div></b>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Active" name="Active" value="true" checked>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}