﻿@model XPOS.DataModel.Brand
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Brand", FormMethod.Post))
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CategoryId
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="1" value="1">Sandal</a>
            <a class="dropdown-item" href="2" value="2">Sepatu</a>
            <a class="dropdown-item" href="3" value="3">Jaket</a>
        </div>
    </div>
    <div class="form-group row">
        <label for="Inisial" class="col-sm-2 col-form-label">Initial</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Initial" name="Initial" value="@Model.Initial">
        </div>
    </div>
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
        </div>
    </div>
    <div class="form-group row">
        <b><div class="col-sm-2">Active</div></b>
        <div class="col-sm-10">
            <div class="form-check">
                @if (Model.Active == true)
                {
                    <input class="form-check-input" type="checkbox" id="Active" name="Active" value="true" checked>
                }
                else
                {
                    <input class="form-check-input" type="checkbox" id="Active" name="Active" value="false">
                }
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
}
